.video-detail {
    display: grid;
    grid-template-rows: 1fr max-content;
    align-items: center;
    justify-items: center;
    @include respond(tab-port) {
        grid-column: 1 / -1;
    }
    &__video {
        
    }
    &__textbox {
        text-align: center;
    }
    &__header {
        font-size: 1rem;
        padding: 1rem;
    }
    &__description {
        padding-bottom: 1rem;
    }
}