.icon-left {
	position: absolute;
	top: 1rem;
	left: 1rem;
}
.icon-right {
	position: absolute;
	bottom: 1rem;
	right: 1rem;
}

.season-display.winter i {
	color: yellow;
}
.season-display.summer i {
	color: orangered;
}
.season-display i {
    opacity: .75;
}
.season-display {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	padding: 2rem;
	text-align: center;
}
.winter {
	background-color: aliceblue;
}
.summer {
	background-color: orange;
}
.snowflake, .sun {
	animation: spin 60s infinite !important;
}
.snowflake:nth-of-type(2), .sun:nth-of-type(2) {
	animation: spin-reverse 60s infinite !important;
}

@keyframes spin {
	50% {
		transform: rotate(360deg);
	}
}
@keyframes spin-reverse {
	50% {
		transform: rotate(-360deg);
	}
}